@media screen and (max-width: 640px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
html{
  position: relative;
  min-height: 100%;
}
body{
	font-family: "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",sans-serif;margin: 0px;
}
img {
   border: 0px;
}
#wrapper {
   	overflow: hidden;
    position: relative;
 }
 #navi {
   width:100%;
   margin: 0px auto 0px;
   padding: 0;
   height: auto;
   background-color:#ffffff;
   position:fixed;
   top: 0px;
   left: 0px;
   text-align: center;
   list-style: none;
 }
 #navi li{
   display:inline-block;
   vertical-align: middle;
   list-style: none;
   margin: 0;
   padding: 0;
   *display: inline;
   *zoom:1;
 }
 #navi a{
   text-decoration: none;
   color: #7a4b4a;
   font-weight: bold;
   font-size: 12px;
 }
 #navi img{
   display: inline-block;
   vertical-align: middle;
   width: 40px;
   height: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
   *display: inline;
   *zoom:1;
 }
#menu{
  margin-top: 100px;
  margin-bottom: 50px;
}
#menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu li{
  padding: 0;
  margin: 1px;
}
#menu li a{
  display: block;
  border-left: 8px solid #C97556;
  background-color: #e9ddc0;
  padding: 10px 10px;
  text-decoration: none;
  color: #ac453b;
  width: 150px;
  margin: auto;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
#menu li a:hover{
  border-left: 8px solid #990033;
  background-color: #e9ddc0;
}
.bar{
  width:100%;
  border-bottom: 2px;
  border-style:solid;
  border-color: #954444;
}
#menuwrap{
  text-align: center;
  color: #492a27
}
#menuwrap h2{
  color: #954444;
}
#dessert{
  margin-bottom: 50px;
}
.dessert01{
  display:inline-block;
  text-align: center;
  vertical-align:top;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  *display: inline;
  *zoom:1;
}
.dessert02{
  display:inline-block;
  text-align: center;
  vertical-align:top;
  margin-right: 25px;
  margin-top: 25px;
  *display: inline;
  *zoom:1;
}
.dessert03{
  display:inline-block;
  text-align: center;
  vertical-align:top;
  margin-top: 25px;
  *display: inline;
  *zoom:1;
}
.dessert04{
  display:inline-block;
  text-align: center;
  vertical-align:top;
  margin-left: 25px;
  margin-top: 25px;
  *display: inline;
  *zoom:1;
}
#page-top {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 10%;
}
#footer{
  width: 100%;
  height: 100px;
  bottom: 0px;
  background: #816654;
  color: #ffffff;
  margin: 0px;
}
#footer p{
  text-align: center;
  top:35px;
  position:relative;
}
}
