@media screen and (max-width:767px){

body{
	font-family: "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",sans-serif;height:100%;margin: 0px;
}

#wrapper{
	width: 100%;
	margin:auto;
}

#header{
  width:100%;
}

.top_img{
  width:100%;
  height:auto;
}
.top_img img{
  width:100%;
  height: auto;
}

.navi_01{
  width:100%;
  margin:0;
  padding:0;
  background-color:#ffffff;
  text-align: center;
  list-style: none;
  display: block;
}

.navi_01 li{
  display: inline-block;
  list-style: none;
  padding: 0;
  /*
  *display: inline;
  *zoom:1;
  */
}

.navi_01 a{
  text-decoration: none;
  color: #7a4b4a;
  font-weight: bold;
  font-size: 0.5rem;
	padding: 1%;
}

.navi_01 img{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  *display: inline;
  *zoom:1;
}
.menu_bar01,
.menu_bar02,
.menu_bar03{
  width: 75%;
  border-bottom: 3px;
  border-style:dashed;
  border-color: #954444;
  margin: auto;
}

#osusume,
#news,
#sns{
	max-width:1000px;
  text-align: center;
  margin: 5%;
}

.menu_icon,
.news_icon,
.sns_icon{
  width:100%;
}

.menu_icon img{
	width: 70%;
}

.news_icon img,
.sns_icon img{
	width: 30%;
}

#news p{
  font-size:0.9rem;
  color: #492a27;
}

.menu_01{
  width: 100%;
}

.menu_01 img{
  margin:5% 1%;
}

.menu_01_01{
	width:100%;
	overflow: hidden;
}
.cake,
.hamburg{
	float: left;
	display: block;
	overflow: hidden;
	width:45%;
	padding: 2%;
	margin: auto;
}

.cafelatte,
.ice{
	float: right;
	display: block;
	overflow: hidden;
	width:45%;
	padding: 2%;
	margin: auto;
}

.cake img,
.cafelatte img,
.hamburg img,
.ice img{
	height: auto;
	-webkit-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  width: 100%;
  vertical-align: bottom;
}

figure{
	margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
	}

figcaption{
	background-color: rgba(0,0,0,0.6);
    color: #FFF;
    opacity: 0;
    font-size: 2vw;
    font-size: 1.6rem;
    position: absolute;
    text-align: center;
    -webkit-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
		top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 25%;
}

.cake:hover>figure img {
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
}

.cake:hover>figure figcaption {
    opacity: 1;
}
.cafelatte:hover>figure img {
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
}

.cafelatte:hover>figure figcaption {
    opacity: 1;
}
.hamburg:hover>figure img {
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
}

.hamburg:hover>figure figcaption {
    opacity: 1;
}
.ice:hover>figure img {
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
}

.ice:hover>figure figcaption {
    opacity: 1;
}


.sns_img img{
  margin: 5%;
  width:20%
}

#page-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000000;
		width: 23%;
}

#page-top a {
    color: #fff;
    text-align: center;
    display: block;
    z-index:
}

#page-top a:hover {
    text-decoration: none;
}

#page-top img{
	width:50%;
}

#footer{
  width: 100%;
  height: auto;
  bottom: 0px;
  /*
  background:#816654;
  */
  color: #ffffff;
  position: relative;
  background-image: url("./img/background.jpg")
}

.background img{
  width:100%;
}

.shop{
  position: absolute;
  top: 77%;
  left: 0%;
  width: 100%;
}
.shop p{
  text-align: center;
  font-size: 0.5rem;
}

.address{
  position:absolute;
  top:36%;
  left:5%;
  height: auto;
}

.address p{
	font-size: 0.4em;
	line-height: 0.5em;
}

.navi_02{
  width:80%;
  position:absolute;
  top:1%;
  left:20%;
  overflow: hidden;
  padding-top:2%;
}

.navi_02 a{
  float:left;
  width:20%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 0.5rem;
}

.logo{
  position: absolute;
  top:17%;
  left:4%;
  width:20%;
  height: auto;
}

.logo img{
  width:100%;
  height: auto;
}

#kodawari{
	width:100%;
  text-align: center;
}

#kodawari h2,
#kodawari h3{
	text-align: center;
	font-size: 0.9em;
	line-height: 1em;
}

#kodawari h1,
#access h1{
	background-image: url(../img/back.jpg);
	background-size: cover;
	background-repeat: repeat;
	color: #ffffff;
	line-height: 2em;
	margin-top: 2em;
	text-align: center;
	font-size: 1.5em;
}

#coffee,
#tea,
#hanbai{
	padding-bottom: 8%;
	text-align: center;
}

#coffee img,
#tea img,
#hanbai img,{
	width:30%;
	height: auto;
}

.setumei{
	line-height: 100%;
	width:90%;
	padding: 1% 5%;
}

.setumei p{
	font-size: 0.7em;
	line-height: 1.2em;
}

/*アクセス*/

#access{
	width:100%;
	text-align: center;
}
.pool img{
	width:70%;
	height: auto;
	margin: auto;
}
img{
	border-style: none;
}
.map iframe{
	width:60%;
 height:auto;
 text-align: center;
 margin-top: 5%;
 margin-bottom: 5%;

}

.jyusyo{
	width: 90%;
	margin:auto;
}

.jyusyo p{
	font-size: 0.8em;
}


/*デザート*/
#block_01,
#block_02{
	overflow: hidden;
	margin-bottom: 3em;
}

#menu{
	width:30%;
	float:left;
	margin-left: 3%;
	margin-top: 8%;

}

#menuwrap{
	width:60%;
	float:right;
	margin-top: 8%;
	margin-right: 5%;
	color: #492a27
}

#menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li{
  display: inline;
  padding: 0;
  margin: 0;
}

#menu li a{
  display: block;
  border-left: 8px solid #C97556;
  background-color: #e9ddc0;
  padding: 5% 10%;
  text-decoration: none;
  color: #ac453b;
  width: 60%;
  margin: 1%;
  text-align: left;
  font-size: 0.7em;
  font-weight: bold;
}

#menu li a:hover{
  border-left: 8px solid #990033;
  background-color: #e9ddc0;
}

.bar{
  width: 80%;
  border-bottom: 2px;
  border-style:solid;
  border-color: #954444;
  margin-bottom: 5%;
}

#menuwrap h2,
#menuwrap h3{
  color: #954444;
}

.main_group,
.group5,
.pasuta,
.main_rice,
.main_group_d1{
	margin-top: 5%;
	overflow: hidden;
}

.group1,
.group3,
.drink08,
.pasuta01,
.rice,
.group_d1,
.sandwich01,
.pasuta02,
.group2,
.group4,
.drink09,
.rice02,
.group_d2{
  width: 70%;
	text-align: center;
	font-size: 0.8em;
}


.drink08 img,
.pasuta01 img,
.rice img,
.pasuta02 img,
.drink09 img,
.rice02 img,
.sandwich01 img{
  width: 100%;
}

#pasuta h2,
#rice h2,
#sandwich h2,
#lunch h2,
#side h2,
#pasuta h3{
	font-size: 1em;
}

#pasuta p,
#rice p,
#sandwich p,
#lunch p,
#side p{
	font-size: 0.8em;
}
.dessert02,
.sandwich01{
	line-height: 1em;
	font-size: 0.8em;
}
.dessert01 img,
.dessert02 img,
.dessert03 img,
.dessert04 img,
.drink01 img,
.drink02 img,
.drink03 img,
.drink04 img,
.drink05 img,
.drink06 img,
.drink07 img{
	width:100%;
}
}
