@media screen and (max-width: 640px){
img{
 max-width: 100%;
 height: auto;
 width /***/:auto;　
}
html{
  position: relative;
  min-height: 100%;
}
body{
	font-family: "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",sans-serif;height:100%;margin: 0px;
}
img {
   border: 0px;
}

#wrapper {
   	overflow: hidden;
    position: relative;
 }
#gnav{
  width:100%;
  margin: 0px auto 0px;
  padding: 0;
  height: auto;
  background-color:#ffffff;
  position:fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  list-style: none;
}

#gnav li{
  display:inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  *display: inline;
  *zoom:1;
}
#gnav li a{
  text-decoration: none;
  color: #7a4b4a;
  font-weight: bold;
  font-size: 12px;
}
#gnav img{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  *display: inline;
  *zoom:1;
}
#top img{
  max-width: 100%;
}
.menubar{
  width: 1000px;
  border-bottom: 3px;
  border-style:dashed;
  border-color: #954444;
  margin: auto;
}
#osusume{
  text-align: center;
  margin: 5%;
}
.osusumeicon{
  margin: 5px;
}
.osusumemenu img{
  margin: 30px;
}
#news{
  text-align: center;
  margin: 5%;
}
#news p{
  font-size: 15px;
  color: #492a27;
}
#sns{
  text-align: center;
  margin: 5%;
}
.snsicon{
  margin: 5px;
}
.snsimg img{
  margin: 30px;
}
#page-top {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 10%;
}
#footer{
  width: 100%;
  height: 100px;
  bottom: 0px;
  background: #816654;
  color: #ffffff;
  margin: 0px;
}
#footer p{
  text-align: center;
  top:35px;
  position:relative;
}
}
