@media screen and (max-width:767px){

body{
  font-family: "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",sans-serif;height:100%;margin: 0px;
}

#wrapper{
width:100%;
margin:auto;
}

#header{
  width:100%;
}

.top_img{
  width:100%;
  height:auto;
}
.top_img img{
  width:100%;
  height: auto;
}

.navi_01{
  width:98%;
  margin:0;
  padding: 1%;
  height: 20%;
  background-color:#ffffff;
  /*position:fixed;
  top: 0px;
  left: 0px;
  */
  text-align: center;
  list-style: none;
  /*
  display: block;
  */
}

.navi_01 li{
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  /*
  *display: inline;
  *zoom:1;
  */
}
.navi_01 a{
  text-decoration: none;
  color: #7a4b4a;
  font-weight: bold;
  font-size: 0.5em;
}

.navi_01 img{
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  *display: inline;
  *zoom:1;
}

.menu_bar01,
.menu_bar02,
.menu_bar03{
  width: 75%;
  border-bottom: 3px;
  border-style:dashed;
  border-color: #954444;
  margin: auto;
}

#osusume,
#news,
#sns{
  text-align: center;
  margin: 5%;
}

.menu_icon,
.news_icon,
.sns_icon{
  width:100%;
}

.menu_icon img{
  width:100%;
}

.news_icon img,
.sns_icon img{
  width:20%;
}

#news p{
  font-size:1em;
  color: #492a27;
}

.menu_01{
  width: 100%;
}

.menu_01 img{
  margin:3%;
}

.sns_img img{
  margin: 5%;
  width:30%
}
/*
#page-top {
    position: fixed;
    bottom: 13%;
    right: 6%;
    width: 7%;
    z-index: 100000;
}
*/
#page-top{
  position: fixed;
  bottom:20px;
  right:20px;
  font-size: 77%;
  z-index: 100000;
}

#page-top a{
  text-decoration: none;
  color:#fff;
  width: 100px;
  padding:30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

#page-top a:hover{
  text-decoration: none;
}

 #footer{
   width: 100%;
   height: auto;
   bottom: 0px;
   color: #ffffff;
   position: relative;
   background-image: url("./img/background.jpg")
 }


 .background img{
   width:100%;
 }

.shop{
  position: absolute;
  top: 78%;
  left: 0%;
  width: 100%;
}
 .shop p{
  text-align: center;
  font-size: 0.1em;
 }

 .address{
   position:absolute;
   top:40%;
   left:4%;
   padding: 2%;
   width:48%;
   height: auto;
   line-height: 0.3em;
 }
.address p{
  font-size: 0.3em;
}
 .navi_02{
   width:88%;
   position:absolute;
   top:5%;
   left:10%;
   overflow: hidden;
   font-size: 1.5em;
 }

 .navi_02 a{
   float:left;
   width:20%;
   text-align: center;
   color: white;
   text-decoration: none;
   font-size: 0.3em;
 }

 .logo{
   position: absolute;
   top:20%;
   left:4%;
   padding: 2%;
   width:30%;
   height: auto;
 }
 .logo img{
   width:6em;
 }
/*追加*/
#kodawari h1{
  width:100%;
  margin: 3% 25% 10% 25%;
}
#coffee,
#tea,
#hanbai{
  width: 100%;
  padding-left: 20%;
  padding-bottom: 8%;
}

#coffee img,
#tea img,
#hanbai img{
  width:25%;
  height: auto;
}
.setumei{
  line-height: 1em;
}

/*アクセス*/

#access{
  width:100%;
  text-align: center;
}

.jyusyo{
  line-height: 2em;
}

.map iframe{
  width:500px;
 height:300px;
 text-align: center;
 margin-top: 50px;
}

/*デザート*/

#menu{
  width:98%;
  margin:8% 0% 2% 0%;
}


#menuwrap{
  text-align: center;
  width:100%;
  margin-top: 8%;
  color: #492a27
}

#menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 93%;
  padding-left: 7%;
}
#menu li{
  display: inline;
  padding: 2%;
  margin: 0;
  float: left;
  width:5em;
  height:2em;
}
#menu li a{
  display: block;
  border-left: 8px solid #C97556;
  background-color: #e9ddc0;
  padding: 5% 10%;
  text-decoration: none;
  color: #ac453b;
  width: 80%;
  margin: 1%;
  text-align: center;
  font-size: 0.6em;
  font-weight: bold;
}
#menu li a:hover{
  border-left: 8px solid #990033;
  background-color: #e9ddc0;
}
.bar{
  width: 80%;
  border-bottom: 2px;
  border-style:solid;
  border-color: #954444;
  text-align: center;
  margin: auto;
}

#menuwrap h2,{
  color: #954444;
}
.main_group{
  margin-top: 5%;
  overflow: hidden;
}

.group1{
  float:left;
  width:50%;
}
.group2{
  float: right;
  width: 50%;
}

.dessert02{
  line-height: 0.4em;
}
.main_group_d1{
  text-align: center;
  overflow: hidden;
}

.group_d1,
.group_d2{
  width:80%;
  padding:10%;
}

}
