@media screen and (min-width:768px){

body{
	font-family: "メイリオ", "Meiryo", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",sans-serif;height:100%;margin: 0px;
}

#wrapper{
	width: 100%;
	max-width:1000px;
	margin:auto;
}

#header{
  width:100%;
}

.top_img{
  width:100%;
  height:auto;
}
.top_img img{
  width:100%;
  height: auto;
}

.navi_01{
  width:100%;
  margin:0;
  padding: 2% 0;
  height: 20%;
  background-color:#ffffff;
  /*position:fixed;
  top: 0px;
  left: 0px;
  */
  text-align: center;
  list-style: none;
  display: block;
}

.navi_01 li{
  display: inline-block;
  list-style: none;
  margin: 2%;
  padding: 0;
  /*
  *display: inline;
  *zoom:1;
  */
}
.navi_01 a{
  text-decoration: none;
  color: #7a4b4a;
  font-weight: bold;
}

.navi_01 img{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  *display: inline;
  *zoom:1;
}
.menu_bar01,
.menu_bar02,
.menu_bar03{
  width: 75%;
  border-bottom: 3px;
  border-style:dashed;
  border-color: #954444;
  margin: auto;
}

#osusume,
#news,
#sns{
  text-align: center;
  margin: 5%;
}

.menu_icon,
.news_icon,
.sns_icon{
  margin: 2%;
}

.menu_icon img,
.news_icon img,
.sns_icon img{
  margin:2%;
}

#news p{
  font-size:90%;
  color: #492a27;
}

.menu_01{
  width: 100%;
}

.menu_01 img{
  margin:5% 1%;
}

.sns_img img{
  margin: 5%;
  width:20%
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    z-index: 1000000;
}

#page-top a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
    z-index: 
}

#page-top a:hover {
    text-decoration: none;
}


#footer{
  width: 100%;
  height: auto;
  bottom: 0px;
  /*
  background:#816654;
  */
  color: #ffffff;
  position: relative;
  background-image: url("./img/background.jpg")
}

.background img{
  width:100%;
}

.shop{
  position: absolute;
  top: 83%;
  left: 0%;
  width: 100%;
}
.shop p{
  text-align: center;
}

.address{
  position:absolute;
  top:48%;
  left:4%;
  padding: 2%;
  width:45%;
  height: auto;
  line-height: 40%;
}

.navi_02{
  width:88%;
  position:absolute;
  top:5%;
  left:12%;
  overflow: hidden;
  font-size: 90%;
  padding-top:2%;
}

.navi_02 a{
  float:left;
  width:20%;
  text-align: center;
  color: white;
  text-decoration: none;
}

.logo{
  position: absolute;
  top:26%;
  left:4%;
  padding: 2%;
  width:40%;
  height: auto;
}

.logo img{
  width:100%;
  height: auto;
}

#kodawari{
	width:100%;
}

#kodawari h1,
#kodawari h2,
#kodawari h3{
	text-align: center;
	/*
	margin: 3% 0% 10% 0%;
	*/
	padding:3% 0 10% 0;
	font-size: 120%;
	line-height: 100%;
}

#coffee,
#tea,
#hanbai{
	width: 80%;
	padding-left: 15%;
	padding-bottom: 8%;
}

#coffee img,
#tea img,
#hanbai img{
	width:30%;
	height: auto;
}

.setumei{
	line-height: 1em;
	width:80%;
	padding: 1% 0;
}

/*アクセス*/

#access{
	width:100%;
	text-align: center;
}

.jyusyo{
	line-height: 2em;
}

.map iframe{
	width:500px;
 height:300px;
 text-align: center;
 margin-top: 50px;
}

/*デザート*/
#block_01,
#block_02{
	overflow: hidden;
}

#menu{
	width:30%;
	float:left;
	margin-left: 3%;
}

#menuwrap{
	width:60%;
	float:right;
	margin-top: 8%;
	margin-right: 5%;
	color: #492a27
}

#menu{
  margin-top: 8%;
}

#menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li{
  display: inline;
  padding: 0;
  margin: 0;
}

#menu li a{
  display: block;
  border-left: 8px solid #C97556;
  background-color: #e9ddc0;
  padding: 5% 10%;
  text-decoration: none;
  color: #ac453b;
  width: 60%;
  margin: 1%;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

#menu li a:hover{
  border-left: 8px solid #990033;
  background-color: #e9ddc0;
}

.bar{
  width: 80%;
  border-bottom: 2px;
  border-style:solid;
  border-color: #954444;
  margin-bottom: 5%;
}

#menuwrap h2,
#menuwrap h3{
  color: #954444;
}

.main_group,
.group5,
.pasuta,
.main_rice,
.main_group_d1{
	margin-top: 5%;
	overflow: hidden;
}

.group1,
.group3,
.drink08,
.pasuta01,
.rice,
.group_d1{
  float:left;
	width:45%;
}

.group2,
.group4,
.drink09
.pasuta02,
.rice02,
.group_d2{
  float: right;
	width: 45%;
}

.dessert02,
.sandwich01{
	line-height: 0.4em;
}

}
